* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(214, 214, 3);
}

.header {
  margin: 5px 5px 0px 5px;
  border-radius: 18px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding-left: 20px;
}

.header .logo img {
  height: 50px;
  width: 50px;
  float: left;
}

.header .nav {
  padding-right: 20px;
}

.header .nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header .nav ul {
  list-style: none;
}

.header .nav ul li {
  padding: 4px;
}

.header .nav ul li a {
  text-decoration: none;
  color: yellow;
}

.header .nav ul li a:hover {
  color: rgb(255, 153, 0);
  transition: all 0.15s ease;
  transform-origin: center;
}

.welcome-msg {
  margin: 5px 5px 5px 5px;
  padding: 50px 40px 50px 45px;
  display: flex;
  border-radius: 10px;
  height: 400px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-weight: bold;
  background: url(./images/gothamcity2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-msg p {
  font-size: 40px;
  color: yellow;
}
